*{
	padding: 0;
	margin:0;
}

@font-face {
    font-family: webfontb;
    src: url("../fonts/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: webfontb-thin;
    src: url("../fonts/RobotoSlab-Thin.ttf");
}
@font-face {
    font-family: webfont;
    src: url("../fonts/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: webfont-light;
    src: url("../fonts/RobotoSlab-Light.ttf");
}
.img-responsive {
    margin: auto;
}
a:focus,a:hover{
	text-decoration: unset;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #E7EC35;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #871798;;
}

footer { padding: 10px; }
footer h5 { line-height: 1.3; }

#sec1{
	background-color: #a93f93;
}
#sec2{
	background-image: url("../images/background-232.jpg");
	background-size:cover;
	background-position: center center;
	padding-bottom: 196px;
}
.navbar-default{
	background-color: transparent;
	border:none;
	border-radius: none;
}
#menu-el1{
	margin-top: 15px;
	margin-left:5%;
}

#menu-el2{
	margin-top: 14px;
}

#img-logo{
	position: absolute;
	left:16px;
	top:10px;
}
ul li a{
	font-family: webfontb;
	color:#fff;
}
/*.navbar-default #menu-el2 > li:first-child{
	border-right: 2px solid #fff;
}*/
.navbar-default #menu-el1 > li > a:focus, .navbar-default #menu-el1 > li > a:hover{
	color:#EAE848;
}
.navbar-default #menu-el2 > li > a:focus, .navbar-default #menu-el2 > li > a:hover{
	color:#EAE848;
}
iframe{
	width:100% ;
	height:320px;
}
#el2{
	background-image:url("../images/bg-el2.png");
	padding-bottom: 155px;
}
#el2 h1{
	margin-top: 35px;
	margin-bottom:20px;
	color: #fff;
	font-family: webfontb;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
#sec3{
	margin-top:-235px;
	padding-left:8px !important;
	padding-right:0px !important;
}
#sec3 h2{
	text-align: center;
	font-family: webfontb;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	padding-bottom:10px;
}
#sec3 h4{
	text-align: center;
	color:#000;
	font-family: webfontb;
}
#sec3 p{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	color:#000;
	font-family: webfont-light;
}
#sec3 button{
	margin-top:10px;
	color:#a93f76;
	border-radius:15px;
	box-shadow: unset;
	padding-left:10px;
	padding-right: 10px;
	background-color: #fff;
	border-width: 1px;
}
#el2 p{
	font-family: webfont-light;
}
.custom-md-layout{
	width:20%;
	float:left;
}
.fix-thumbnail{
	padding-left:unset;
	padding-right: unset;
	border: none;
	background-color: transparent;
}
#sec4{
	background-color: #eeeeee;
	margin-top:-235px;
	padding-bottom:30px;
}
#total-el{
	background-color: #fff;
	padding-top:20px;
	padding-bottom: 20px;
	margin-top:55px;
}
#sec4 ul{
	list-style:none;
	width:100%;
	height: 40px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}
#sec4 ul li{
	float:left;
	margin-left:10px;
}
#download-app-section { max-width: 520px; margin: auto; }
#sec4-el1>a{
	background-color: #84c126;
	color:#fff;
	font-family: webfontb;
	position: relative;
	border-radius: 5px;
	height: 40px;
	display: block;
	margin:auto;
	width: 210px;
	line-height: 41px;
	text-align: center;
}
#sec4-el1{
	margin-top:7px;
}
#sec4-el1>a>img{
	position: absolute;
	top:10px;
	left: 160px;
}

/*  @media */

@media(max-width: 1920px){
	#sec3 button{
		margin-left: 28%;
	}
}

@media(max-width: 1281px){
	#sec3 button{
		margin-left: 79px;
	}
}

@media(max-width: 1160px){
	iframe{
		width:100%;
		height:341px;
	}
	#sec3 h4{
		font-size: 19px;
	}
	#sec3 button{
		margin-left:52px;
	}
}

@media(max-width: 1024px){
	iframe{
		width:100%;
		height:341px;
	}
	#sec3 h4{
		font-size: 19px;
	}
	#sec3 button{
		margin-left:52px;
	}
}

@media(max-width: 983px){
	.navbar-default .navbar-nav > li > a{
		font-size: 12px;
	}
	#menu-el2{
		margin-right:-92px;
	}
	iframe{
		width:100% ;
		height:361px;
	}
	#sec3 h2{
		font-size: 25px;
	}
	#sec3 button{
		margin-left: 28px;
	}
	#sec3 h4{
		font-size:16px;
	}
	#sec3 img{
		height: 144px;
	}
	#sec3 p{
		font-size:12px;
	}
}

@media(max-width: 800px){
	.navbar-default .navbar-nav > li > a{
		font-size: 10px;
	}
	#menu-el2{
		margin-right:-38px;
	}
	#menu-el1{
		margin-left: 33px;
	}
	#img-logo{
		left: -5px;
	}
	#sec3 h2{
		font-size: 20px;
	}
	#sec3 button{
		margin-left: 33px;
	}
	#sec3 h4{
		font-size:16px;
	}
	#sec3 p{
		font-size: 12px;
	}
	#sec3 img{
		height: 150px;
	}
}

@media(max-width: 768px){
	#menu-el1{
		margin-left: 32px;
	}
	#menu-el2{
		margin-right: -16px;
	}
	#sec3 img{
		height: 147px;
	}
	#sec3 {
		margin-top: -60px;
	}
	#sec2 { padding-bottom: 0px; }
}
@media(max-width: 767px){
	#img-logo{
		display: none;
	}
	.navbar{
		margin:0;
	}
	#menu-el1{
		margin-left: -15px;
	}
	#sec4 ul{
		margin: 10px auto !important;
		width: 180px;
	}
}
@media(max-width: 667px){
	.custom-md-layout{
		width: 100%;
	}
	#sec3 button {
    	margin-left: 43%;
	}
	iframe{
		width:100%;
		height:361px;
	}
}

@media(max-width: 640px){
	#sec4 ul{
		margin-left:200px;
	}
}

@media(max-width: 480px){
	#sec3 button {
    	margin-left: 40%;
	}
	#sec4 ul {
    	margin-left: 124px;
	}
}

@media(max-width: 435px){
	#sec3 button {
    	margin-left: 38%;
	}
	#sec4 ul {
    	margin-left: 107px;
	}
}

@media(max-width: 401px){
	.custom-md-layout{
		width: 100%;
	}
	#sec3 button {
    	margin-left: 133px;
	}
	#sec4-el1>a{
		background-color: #84c126;
		color:#fff;
		font-family: webfontb;
		position: relative;
		border-radius: 10px;
		height: 40px;
		width: 210px;
		display: block;
		line-height: 41px;
		text-align: center;
		margin:auto;
	}
	#sec4 ul{
		list-style:none;
		width:52%;
		height: 40px;
		margin-left:auto;
		margin-right:auto;
		margin-top:5px;
	}
}
@media(max-width: 375px){
	.navbar{
		margin:0;
	}
	#img-logo{
		left:7px;
		top:6px;
		width: 12%;
	}
	#menu-el1{
		margin-left: unset;
	}
	.navbar-nav{
		margin:unset;
	}
	iframe{
		width:100%;
		height: 306px;
	}
	.custom-md-layout{
		width: 100%;
	}
	#sec3{
		margin-top: -53px;
	}
	#sec3 button{
		margin-left: 120px;
	}
	#sec4 ul{
		list-style:none;
		width: 180px;
		height: 40px;
		margin-left:auto;
		margin-right:auto;
		margin-top:5px;
	}
	footer h5{
		font-size:12px !important;
	}
	footer p{
		font-size:10px !important;
	}
}
@media(max-width: 320px){
	iframe{
		width:100% ;
	}
	#sec3 button{
		margin-left: 94px;
	}
	#sec4-el1>a{
		margin-left: 7%
	}
	#sec4 ul{
		width:75%;
	}

}
